@model IEnumerable<SRS_Game.Models.Document>
@{
    // var documents = ViewData["Document"] as SRS_Game.Models.Document;
    // var projects = ViewData["Project"] as SRS_Game.Models.Project;
    // var user = ViewData["User"] as SRS_Game.Models.User;
}

@{
    ViewData["Title"] = "Lista dokumentów";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Dodaj nowy dokument</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa @* @Html.DisplayNameFor(model => model.Name) *@
            </th>
            <th>
                Projekt @* @Html.DisplayNameFor(model => model.ProjectName) *@
            </th>
            <th>
                Opis @* @Html.DisplayNameFor(model => model.Description) *@
            </th>
            <th>
                Wersja @* @Html.DisplayNameFor(model => model.Version) *@
            </th>
            <th>
                Data aktualizacja @* @Html.DisplayNameFor(model => model.UpdateDate) *@
            </th>
            <th>
                Utworzony @* @Html.DisplayNameFor(model => model.CreateDate) *@
            </th>
            <th>
                Nazwa pliku @* @Html.DisplayNameFor(model => model.FileName) *@
            </th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VersionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
