@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model SRS_Game.Models.Project

@{
    ViewData["Title"] = "Edit";
}

<h4>@Localizer["Project"] - @Localizer["Edit"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="mb-3 row">
                <label asp-for="Name" class="col-sm-4 col-form-label">@Localizer["Name"]</label>
                <div class="col-sm-8"><input asp-for="Name" class="form-control" /></div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3 row">
                <label asp-for="Number" class="col-sm-4 col-form-label">@Localizer["Number"]</label>
                <div class="col-sm-8"><input asp-for="Number" class="form-control" /></div>
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="mb-3 row">
                <label asp-for="CreatedDate" class="col-sm-4 col-form-label">@Localizer["Created date"]</label>
                <div class="col-sm-8"><input asp-for="CreatedDate" class="form-control" /></div>
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="mb-3 row">
                <label asp-for="UpdateDate" class="col-sm-4 col-form-label">@Localizer["Update date"]</label>
                <div class="col-sm-8"><input asp-for="UpdateDate" class="form-control" /></div>
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>
            <div class="mb-3 row">
                <label asp-for="ProjectManagerId" class="col-sm-4 col-form-label">@Localizer["Project manager"]</label>
                <div class="col-sm-8">
                    <select asp-for="ProjectManagerId" class="form-control" asp-items="ViewBag.Participants" onselect="@Model.ProjectManagerId"></select>
                </div>
                <span asp-validation-for="ProjectManagerId" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value=@Localizer["Save"] class="btn btn-primary mr-3" />
                <button asp-action="Details" class="btn btn-primary">@Localizer["Cancel"]</button>
                <button asp-action="Index" class="btn btn-primary">@Localizer["Back to List"]</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
