@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;

@model IEnumerable<SRS_Game.Models.ProjectsViewModel>;

@{
    ViewData["Title"] = Localizer["Projects"];
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">@Localizer["Add New"] @Localizer["Project"]</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Localizer[Html.DisplayNameFor(model => model.Name)]
            </th>
            <th>
                @Localizer[Html.DisplayNameFor(model => model.Number)]
            </th>
            <th class="text-end">
                @Localizer[Html.DisplayNameFor(model => model.CreatedDate)]
            </th>
            <th class="text-end">
                @Localizer[Html.DisplayNameFor(model => model.UpdateDate)]
            </th>
            <th class="text-center">
                @Localizer[Html.DisplayNameFor(model => model.ProjectManager)]
            </th>
            <th class="text-center">@Localizer["Actions"]</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td class="text-end">
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td class="text-end">
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.ProjectManager)
            </td>
            <td class="text-center">
                <a asp-action="Details" asp-route-id="@item.Id" nt="@item.Id" class="mr-3" title="View"><i class="bi bi-book"></i></a>
                <a asp-action="Edit" asp-route-id="@item.Id" class="mr-3"><i class="bi bi-pen" title="Edit"></i></a>
                <a asp-action="Delete" asp-route-id="@item.Id" nt="@item.Id" class="mr-3" title="Delete"><i class="bi bi-trash"></i></a>
            </td>
        </tr>
    }
    </tbody>
</table>

@section Styles {
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
}
