@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;

@model SRS_Game.Models.DocumentEditViewModel;

@{
    var addressOrContactHeader = Localizer[""];
}

<form asp-controller="Documents" asp-action="SaveProjectSpecification" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Name" />
    <input type="hidden" asp-for="SRS.Owner" />
    <input type="hidden" asp-for="SRS.Author" />
    <input type="hidden" asp-for="SRS.Version" />
    <input type="hidden" asp-for="SRS.TeamNumber" />
    <input type="hidden" asp-for="SRS.ProjectName" />
    <ol class="list-group list-group-numbered mb-2">
        <li class="list-group-item">
            <span class="fw-bold">@Localizer["Introduction"]</span>
            <div class="ms-2 me-auto">
                <textarea class="form-control" asp-for="@Model.SRS.Introduction" rows="3" placeholder="Tu się podaje krótkie wprowadzenie: co to jest za projekt, na czym polega, jaka jest jego główna idea." ></textarea>
            </div>
        </li>
        <li class="list-group-item">
            <span class="fw-bold">@Localizer["RequirementsSources"]</span>
            <div class="ms-2 me-auto">
                <i>W tym rozdziale identyfikuje się źródła wymagań. Jest to potrzebne, aby zorientować się, skąd pozyskiwać wymagania do projektu.</i>
                <ol class="list-group list-group-numbered">
                    <li id="stkh" class="list-group-item">
                        @{
                            var count = @Model.SRS != null && @Model.SRS.Stakeholders.Any() ? @Model.SRS.Stakeholders.Count : 0;
                        }
                        <button type="button" class="btn btn-primary d-inline float-end my-2 ms-2" data-count=@count id="add-stkh" onclick="addSection('stkh')">+</button>
                        <span class="fw-bold d-inline-block">@Localizer["StakeholdersOfProject"]</span>
                        <div class="tables mt-2 ms-2 me-auto">
                            <i>Tu identyfikuje się wszystkie osoby (fizyczne i prawne), które są zainteresowane realizacją projektu bezpośrednio lub pośrednio.</i>
                            @if (Model.SRS != null)
                            {
                                @for (int i = 0; i < count; i++)
                                {
                                    var reference = @Model.SRS.Stakeholders[@i].Reference.ToLower();
                                    <table id="@reference" class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <th class="w-15 ref" scope="row"><input class="form-control form-control-plaintext fw-bold" asp-for="@Model.SRS.Stakeholders[@i].Reference" readonly /></th>
                                                <td class="">
                                                    <input class="form-control fw-bold" placeholder="@Localizer["name"]" asp-for="@Model.SRS.Stakeholders[@i].Name" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Description"]</th>
                                                <td>
                                                    <input class="form-control" placeholder="Organizacja zamawiająca realizację projektu" value="@Model.SRS.Stakeholders[@i].Description" asp-for="@Model.SRS.Stakeholders[@i].Description" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Type"]</th>
                                                <td>
                                                    <select class="form-control" placeholder="osoba prawna" onselect="@Model.SRS.Stakeholders[@i].Type" asp-for="@Model.SRS.Stakeholders[@i].Type" asp-items="ViewBag.StakeholderTypes"></select>
                                                </td>
                                            </tr>
                                    @if (Model.SRS.Stakeholders[@i].FullName.Length > 0)
                                    {
                                        addressOrContactHeader = @Localizer["Address"];
                                            <tr>
                                                <th scope="row">@Localizer["FullName"]</th>
                                                <td>
                                                    <input class="form-control" placeholder="dla typu instytucjonalnego" value="@Model.SRS.Stakeholders[@i].FullName" asp-for="@Model.SRS.Stakeholders[@i].FullName" />
                                                </td>
                                            </tr>
                                    }
                                    else {
                                        addressOrContactHeader = Localizer["Contact"];
                                    }
                                            <tr>
                                                <th scope="row">@addressOrContactHeader</th>
                                                <td>
                                                    <input class="form-control" placeholder="adres pocztowy do korespondencji" value="@Model.SRS.Stakeholders[@i].AddressOrContact" asp-for="@Model.SRS.Stakeholders[@i].AddressOrContact" />
                                                </td>
                                            </tr>
                                            <tr>
                                    @if (Model.SRS.Stakeholders[@i].FullName.Length > 0)
                                    {
                                        @* dla typu instytucjonalnego *@
                                                <th scope="row">@Localizer["Representative"]</th>
                                                <td>
                                                    <input class="form-control" placeholder="imię i nazwisko, kontakt albo referencja do osobnego rekordu, np.: " value="@Model.SRS.Stakeholders[@i].Representative" asp-for="@Model.SRS.Stakeholders[@i].Representative" />
                                                </td>
                                    } else
                                    {
                                        @* osoba fizyczna *@
                                                <th scope="row">@Localizer["Represent"]</th>
                                                <td>
                                                    <input class="form-control" placeholder="referencja do interesariusza" value="@Model.SRS.Stakeholders[@i].Represent" asp-for="@Model.SRS.Stakeholders[@i].Represent" />
                                                </td>
                                    }
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Priority"]</th>
                                                <td>
                                                    <select class="form-control" placeholder="Type to search ..." onselect="@Model.SRS.Stakeholders[@i].Priority" asp-for="@Model.SRS.Stakeholders[@i].Priority" asp-items="ViewBag.Priorities"></select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }
                            }
                        </div>
                    </li>
                    <li id="rsrc" class="list-group-item">
                        @{
                            count = @Model.SRS != null && @Model.SRS.Personlesses.Any() ? @Model.SRS.Personlesses.Count : 0;
                        }
                        <button type="button" class="btn btn-primary d-inline float-end my-2 ms-2" data-count=@count id="add-rsrc" onclick="addSection('rsrc')">+</button>
                        <span class="fw-bold">@Localizer["PersonlessSrc"]</span>
                        <div class="tables ms-2 me-auto">
                            <i>Tu wymienia się akty prawne, standardy i inne dokumenty stanowiące źródła wymagań dla projektu. Często wymienia się rozporządzenie o ochronie danych osobowych. Podaje się znane dane bibliograficzne publikacji: tytuł, wydawcę etc. – tyle ile potrzeba dla jednoznacznej identyfikacji dokumentu. Jeśli dokument jest dostępny w Internecie, to można podać jego URL.
                            </i>
                            @if (Model.SRS != null)
                            {
                                @for (int i = 0; i < count; i++)
                                {
                                    var reference = @Model.SRS.Personlesses[@i].Reference.ToLower();
                                    <table id="@reference" class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <th scope="row" class="w-15 ref"><input class="form-control-plaintext fw-bold" asp-for="@Model.SRS.Personlesses[@i].Reference" readonly /></th>
                                                <td class="fw-bold"><input class="form-control fw-bold" placeholder="@Localizer["name"]" asp-for="@Model.SRS.Personlesses[@i].Name" /></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Desription"]</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer["Rozporządzenie o Ochronie Danych Osobowych"]" asp-for="@Model.SRS.Personlesses[@i].Description" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Title"]</th>
                                                <td><input class="form-control" placeholder="@Localizer["pełny tytuł dokumentu"]" asp-for="@Model.SRS.Personlesses[@i].Title" /></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Publisher"]</th>
                                                <td><input class="form-control" placeholder="@Localizer["nazwa organizacji publikującej dokument"]" asp-for="@Model.SRS.Personlesses[@i].Publisher" />t</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["PublishingPlace"]</th>
                                                <td><input class="form-control" placeholder="@Localizer["miejsce publikacji (np. kraj, miasto)"]" asp-for="@Model.SRS.Personlesses[@i].PublishingPlace" /></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["PublishingDate"]</th>
                                                <td><input class="form-control" placeholder="@Localizer["data pełna lub skrócona (np. rok) wydania"]" asp-for="@Model.SRS.Personlesses[@i].PublishingDate" /></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Version"]</th>
                                                <td><input class="form-control" placeholder="@Localizer["numer wersji (gdy kolejna)"]" asp-for="@Model.SRS.Personlesses[@i].Version" /></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["URL"]</th>
                                                <td><input class="form-control" placeholder="@Localizer["adres URL"]" asp-for="@Model.SRS.Personlesses[@i].Url" /></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Priority"]</th>
                                                <td><select class="form-control" placeholder="Type to search ..." onselect="@Model.SRS.Personlesses[@i].Priority" asp-for="@Model.SRS.Personlesses[@i].Priority" asp-items="ViewBag.Priorities"></select></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }
                            }
                        </div>
                    </li>
                </ol>
            </div>
        </li>
        <li class="list-group-item">
            <span class="fw-bold">@Localizer["SystemPurposes"]</span>
            <div class="ms-2 me-auto">
                <i>W tym miejscu precyzuje się cele systemu z podziałem na cele biznesowe i cele funkcjonalne. Zdarza się tak, że zleceniodawca początkowo wymienia tylko cele funkcjonalne zachowując do swojej wiadomości cele biznesowe. Aby jednak właściwie rozumieć te funkcje w odpowiednim kontekście, zespół projektowy musi poznać motywacje biznesowe klienta.</i>
                <ol class="list-group list-group-numbered">
                    <li id="bsgl" class="list-group-item">
                        @{
                            count = @Model.SRS != null && @Model.SRS.BusinesPurposes.Any() ? @Model.SRS.BusinesPurposes.Count : 0;
                        }
                        <button type="button" class="btn btn-primary d-inline float-end my-2 ms-2" data-count=@count id="add-bsgl" onclick="addSection('bsgl')">+</button>
                        <span class="fw-bold">@Localizer["BusinesPurposes"]</span>
                        <div class="tables ms-2 me-auto">
                            @if (Model.SRS != null)
                            {
                                @for (int i = 0; i < count; i++)
                                {
                                    var reference = @Model.SRS.BusinesPurposes[@i].Reference.ToLower();
                                    <table id="@reference" class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <th scope="row" class="w-15 ref"><input class="form-control-plaintext fw-bold" asp-for="@Model.SRS.BusinesPurposes[@i].Reference" readonly /></th>
                                                <td class="fw-bold">
                                                    <input class="form-control fw-bold" placeholder="@Localizer["np.: Otwarcie nowego kanału sprzedaży"]" asp-for="@Model.SRS.BusinesPurposes[@i].Name" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Description"]:</th>
                                                <td><input class="form-control" placeholder="@Localizer["Otwarcie nowego kanału sprzedaży"]" asp-for="@Model.SRS.BusinesPurposes[@i].Description" /></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Source"]:</th>
                                                <td><input class="form-control" placeholder="@Localizer["StakeholderReference"]" asp-for="@Model.SRS.BusinesPurposes[@i].Source" /></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Priority"]:</th>
                                                <td>
                                                    <select class="form-control" placeholder="Type to search ..." onselect="@Model.SRS.BusinesPurposes[@i].Priority" asp-for="@Model.SRS.BusinesPurposes[@i].Priority" asp-items="ViewBag.Priorities"></select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }
                            }
                        </div>
                    </li>
                    <li id="fngl" class="list-group-item">
                        @{
                            count = @Model.SRS != null && @Model.SRS.FunctionalityPurposes.Any() ? @Model.SRS.FunctionalityPurposes.Count : 0;
                        }
                        <button type="button" class="btn btn-primary d-inline float-end my-2 ms-2" data-count=@count id="add-fngl" onclick="addSection('fngl')">+</button>
                        <span class="fw-bold">@Localizer["FunctionalityPurposes"]</span>
                        <div class="tables ms-2 me-auto">
                            <i>Cele funkcjonalne wymieniają główne funkcjonalności, które ma spełniać system.</i>
                            @if (Model.SRS != null)
                            {
                                @for (int i = 0; i < count; i++)
                                {
                                    var reference = @Model.SRS.FunctionalityPurposes[@i].Reference.ToLower();
                                    <table id="@reference" class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <th scope="row" class="w-15 ref"><input class="form-control-plaintext fw-bold" asp-for="@Model.SRS.FunctionalityPurposes[@i].Reference" readonly /></th>
                                                <td class="fw-bold"><input class="form-control fw-bold" placeholder="@Localizer["np.: Umożliwienie sprzedaży przez Internet"]" asp-for="@Model.SRS.FunctionalityPurposes[@i].Name" /></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Description"]:</th>
                                                <td><input class="form-control" placeholder="@Localizer["BusinsessPurposeReference"]" asp-for="@Model.SRS.FunctionalityPurposes[@i].Description" /></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["BusinesPurpose"]:</th>
                                                <td><input class="form-control" placeholder="@Localizer["BusinsessPurposeReference"]" asp-for="@Model.SRS.FunctionalityPurposes[@i].Description" /></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Source"]:</th>
                                                <td><input class="form-control" placeholder="@Localizer["StakeholderReference"]" asp-for="@Model.SRS.FunctionalityPurposes[@i].Source" /></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Priority"]:</th>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }
                            }
                        </div>
                    </li>
                </ol>
            </div>
        </li>
        <li class="list-group-item">
            <span class="fw-bold">@Localizer["SystemEnvironment"]</span>
            <div class="ms-2 me-auto">
                <i>Zespół projektowy musi poznać otoczenie (kontekst), w jakim ma pracować system. Z rozmów z klientem powinno dać się wyszczególnić użytkowników oraz systemy zewnętrzne. Jeśli się nie da, to otoczenie systemu trzeba będzie zdefiniować w trakcie analizy funkcjonalnej.</i>
                <ol class="list-group list-group-numbered">
                    <li id="user" class="list-group-item">
                        @{
                            count = @Model.SRS != null && @Model.SRS.SystemUsers.Any() ? @Model.SRS.SystemUsers.Count : 0;
                        }
                        <button type="button" class="btn btn-primary d-inline float-end my-2 ms-2" data-count=@count id="add-user" onclick="addSection('user')">+</button>
                        <span class="fw-bold">@Localizer["Users"]</span>
                        <div class="tables ms-2 me-auto">
                            <i>Trzeba odróżnić użytkowników wypisanych w tym punkcie od grup użytkowników wymienionych wśród interesariuszy projektu. Tam są oni zidentyfikowani jako źródło wymagań, a tu stanowią podmiot tych wymagań.</i>
                            @if (Model.SRS != null)
                            {
                                @for (int i = 0; i < count; i++)
                                {
                                    var reference = @Model.SRS.SystemUsers[@i].Reference.ToLower();
                                    <table id="@reference" class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <th scope="row" class="w-15 ref"><input class="form-control-plaintext fw-bold" asp-for="@Model.SRS.SystemUsers[@i].Reference" readonly /></th>
                                                <td class="fw-bold">
                                                    <input class="form-control fw-bold" placeholder="@Localizer[""]" asp-for="@Model.SRS.SystemUsers[@i].Name" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Description"]:</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer["Tu pod pojęciem klienta rozumie się klienta sklepu internetowego."]" asp-for="@Model.SRS.SystemUsers[@i].Description" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Needs"]:</th>
                                                <td>
                                                    <textarea rows="3" class="form-control" placeholder="@Localizer[""]" asp-for="@Model.SRS.SystemUsers[@i].Needs"></textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Tasks"]:</th>
                                                <td>
                                                    <textarea rows="3" class="form-control" placeholder="@Localizer[""]" asp-for="@Model.SRS.SystemUsers[@i].Tasks"></textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Source"]:</th>
                                                <td><input class="form-control" placeholder="@Localizer["StakeholderReference"]" asp-for="@Model.SRS.SystemUsers[@i].Source" /></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Priority"]:</th>
                                                <td><select class="form-control" placeholder="Type to search ..." onselect="@Model.SRS.SystemUsers[@i].Priority" asp-for="@Model.SRS.SystemUsers[@i].Priority" asp-items="ViewBag.Priorities"></select></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }
                            }
                        </div>
                    </li>
                    <li id="xsys" class="list-group-item">
                        @{
                            count = @Model.SRS != null && @Model.SRS.ExternalSystems.Any() ? @Model.SRS.ExternalSystems.Count : 0;
                        }
                        <button type="button" class="btn btn-primary d-inline float-end my-2 ms-2" data-count=@count id="add-xsys" onclick="addSection('xsys')">+</button>
                        <span class="fw-bold">@Localizer["ExternalSystems"]</span>
                        <div class="tables ms-2 me-auto">
                            <i>System zewnętrzny wymieniany w specyfikacji wymagań to taki system, z którym projektowany system współdziała bezpośrednio, np. wysyła dane, odbiera i przetwarza informacje.</i>
                            @if (Model.SRS != null)
                            {
                                @for (int i = 0; i < count; i++)
                                {
                                    var reference = @Model.SRS.ExternalSystems[@i].Reference.ToLower();
                                    <table id="@reference" class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <th scope="row" class="w-15 ref">input class="form-control-plaintext fw-bold" asp-for="@Model.SRS.ExternalSystems[@i].Reference" readonly /></th>
                                                <td class="fw-bold">
                                                    <input class="form-control fw-bold" placeholder="@Localizer[""]" asp-for="@Model.SRS.ExternalSystems[@i].Name" />
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Description"]:</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer[""]" asp-for="@Model.SRS.ExternalSystems[@i].Description" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Needs"]:</th>
                                                <td>
                                                    <textarea rows="3" class="form-control" placeholder="@Localizer[""]" asp-for="@Model.SRS.ExternalSystems[@i].Needs"></textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Tasks"]:</th>
                                                <td>
                                                    <textarea rows="3" class="form-control" placeholder="@Localizer[""]" asp-for="@Model.SRS.ExternalSystems[@i].Tasks"></textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Interfaces"]:</th>
                                                <td>
                                                    <textarea rows="3" class="form-control" placeholder="@Localizer[""]" asp-for="@Model.SRS.ExternalSystems[@i].Interfaces"></textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Source"]:</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer["StakeholderReference"]" asp-for="@Model.SRS.ExternalSystems[@i].Source" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Priority"]:</th>
                                                <td><select class="form-control" placeholder="Type to search ..." onselect="@Model.SRS.ExternalSystems[@i].Priority" asp-for="@Model.SRS.ExternalSystems[@i].Priority" asp-items="ViewBag.Priorities"></select></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }
                            }
                        </div>
                    </li>
                </ol>
            </div>
        </li>
        <li class="list-group-item">
            <span class="fw-bold">@Localizer["ExpectedSystemComponents"]</span>
            <div class="ms-2 me-auto">
                <ol class="list-group list-group-numbered">
                    <li id="ssys" class="list-group-item">
                        @{
                            count = @Model.SRS != null && @Model.SRS.SubSystems.Any() ? @Model.SRS.SubSystems.Count : 0;
                        }
                        <button type="button" class="btn btn-primary d-inline float-end my-2 ms-2" data-count=@count id="add-ssys" onclick="addSection('ssys')">+</button>
                        <span class="fw-bold">@Localizer["Subsystems"]</span>
                        <div class="tables ms-2 me-auto">
                            @if (Model.SRS != null)
                            {
                                @for (int i = 0; i < count; i++)
                                {
                                    var reference = @Model.SRS.SubSystems[@i].Reference.ToLower();
                                    <table id="@reference" class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <th scope="row" class="w-15 ref"><input class="form-control-plaintext fw-bold" asp-for="@Model.SRS.SubSystems[@i].Reference" readonly /></th>
                                                <td class="fw-bold">
                                                    <input class="form-control fw-bold" placeholder="@Localizer[""]" asp-for="@Model.SRS.SubSystems[@i].Name" /></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Description"]:</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer[""]" asp-for="@Model.SRS.SubSystems[@i].Description" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Location"]:</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer["HardwareComponentReference"]" asp-for="@Model.SRS.SubSystems[@i].Location" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Components"]:</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer["SoftwareComponentReference"]" asp-for="@Model.SRS.SubSystems[@i].Components" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Relations"]:</th>
                                                <td><input class="form-control" placeholder="@Localizer["OthrRef"]" asp-for="@Model.SRS.SubSystems[@i].Relations" /></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Source"]:</th>
                                                <td><input class="form-control" placeholder="@Localizer["StakeholderReference"]" asp-for="@Model.SRS.SubSystems[@i].Source" /></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Priority"]:</th>
                                                <td>
                                                    <select class="form-control" placeholder="Type to search ..." onselect="@Model.SRS.SubSystems[@i].Priority" asp-for="@Model.SRS.SubSystems[@i].Priority" asp-items="ViewBag.Priorities"></select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }
                            }
                        </div>
                    </li>
                    <li id="hcmp" class="list-group-item">
                        @{
                            count = @Model.SRS != null && @Model.SRS.HardwareComponents.Any() ? @Model.SRS.HardwareComponents.Count : 0;
                        }
                        <button type="button" class="btn btn-primary d-inline float-end my-2 ms-2" data-count=@count id="add-hcmp" onclick="addSection('hcmp')">+</button>
                        <span class="fw-bold">@Localizer["HardwareComponents"]</span>
                        <div class="tables ms-2 me-auto">
                            @if (Model.SRS != null)
                            {
                                @for (int i = 0; i < count; i++)
                                {
                                    var reference = @Model.SRS.HardwareComponents[@i].Reference.ToLower();
                                    <table id="@reference" class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <th scope="row" class="w-15 ref"><input class="form-control-plaintext fw-bold" asp-for="@Model.SRS.HardwareComponents[@i].Reference" readonly /></th>
                                                <td class="fw-bold">
                                                    <input class="form-control fw-bold" placeholder="@Localizer[""]" asp-for="@Model.SRS.HardwareComponents[@i].Name" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Description"]:</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer["Description"]" asp-for="@Model.SRS.HardwareComponents[@i].Description" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Relations"]:</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer["HardwareComponentReference"]" asp-for="@Model.SRS.HardwareComponents[@i].Relations" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Source"]:</th>
                                                <td><input class="form-control" placeholder="@Localizer["StakeholderReference"]" asp-for="@Model.SRS.HardwareComponents[@i].Source" /></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Priority"]:</th>
                                                <td>
                                                    <select class="form-control" placeholder="Type to search ..." onselect="@Model.SRS.HardwareComponents[@i].Priority" asp-for="@Model.SRS.HardwareComponents[@i].Priority" asp-items="ViewBag.Priorities"></select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }
                            }
                        </div>
                    </li>
                    <li id="scmp" class="list-group-item">
                        @{
                            count = @Model.SRS != null && @Model.SRS.SoftwareComponents.Any() ? @Model.SRS.SoftwareComponents.Count : 0;
                        }
                        <button type="button" class="btn btn-primary d-inline float-end my-2 ms-2" data-count=@count id="add-scmp" onclick="addSection('scmp')">+</button>
                        <span class="fw-bold">@Localizer["SoftwareComponents"]</span>
                        <div class="tables ms-2 me-auto">
                            @if (Model.SRS != null)
                            {
                                @for (int i = 0; i < count; i++)
                                {
                                    var reference = @Model.SRS.SoftwareComponents[@i].Reference.ToLower();
                                    <table id="@reference" class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <th scope="row" class="w-15 ref"><input class="form-control-plaintext fw-bold" asp-for="@Model.SRS.SoftwareComponents[@i].Reference" readonly /></th>
                                                <td class="fw-bold">
                                                    <input class="form-control fw-bold" placeholder="@Localizer[""]" asp-for="@Model.SRS.SoftwareComponents[@i].Name" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Description"]:</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer["Description"]" asp-for="@Model.SRS.SoftwareComponents[@i].Description" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Location"]:</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer["HardwareComponentReference"]" asp-for="@Model.SRS.SoftwareComponents[@i].Location" />

                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Relations"]:</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer["SoftwareComponentReference"]" asp-for="@Model.SRS.SoftwareComponents[@i].Relations" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Source"]:</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer["StakeholderReference"]" asp-for="@Model.SRS.SoftwareComponents[@i].Source" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Priority"]:</th>
                                                <td>
                                                    <select class="form-control" placeholder="Type to search ..." onselect="@Model.SRS.SoftwareComponents[@i].Priority" asp-for="@Model.SRS.SoftwareComponents[@i].Priority" asp-items="ViewBag.Priorities"></select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }
                            }
                        </div>
                    </li>
                </ol>
            </div>
        </li>
        <li id="fnrq" class="list-group-item">
            @{
                count = @Model.SRS != null && @Model.SRS.FuncionalityRequirements.Any() ? @Model.SRS.FuncionalityRequirements.Count : 0;
            }
            <button type="button" class="btn btn-primary d-inline float-end my-2 ms-2 me-3" data-count=@count id="add-fnrq" onclick="addSection('fnrq')">+</button>
            <span class="fw-bold">@Localizer["FunctionalityRequirements"]</span>
            <div class="tables ms-2 me-auto">
                <i>Każde wymaganie funkcjonalne musi być przypisane do określonego użytkownika lub systemu zewnętrznego (pole „dotyczy”). Może być oparte o potrzeby lub zadania tego użytkownika. Wyjątek stanowią wymagania funkcjonalne wykonywane automatycznie, które mogą być przypisane do któregoś z komponentów. systemu.</i>
                @if (Model.SRS != null)
                {
                    @for (int i = 0; i < count; i++)
                    {
                        var reference = @Model.SRS.FuncionalityRequirements[@i].Reference.ToLower();
                        <table id="@reference" class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th scope="row" class="w-15 ref"><input class="form-control-plaintext fw-bold" asp-for="@Model.SRS.FuncionalityRequirements[@i].Reference" readonly /></th>
                                    <td class="fw-bold">
                                        <input class="form-control fw-bold" placeholder="@Localizer[""]" asp-for="@Model.SRS.FuncionalityRequirements[@i].Name" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">@Localizer["Description"]:</th>
                                    <td>
                                        <input class="form-control" placeholder="@Localizer["Description"]" asp-for="@Model.SRS.FuncionalityRequirements[@i].Description" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">@Localizer["RefersTo"]:</th>
                                    <td>
                                        <input class="form-control" placeholder="@Localizer["UserRef"]" asp-for="@Model.SRS.FuncionalityRequirements[@i].RefersTo" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">@Localizer["SupportFor"]:</th>
                                    <td>
                                        <input class="form-control" placeholder="@Localizer["BusinsessPurposeReference"]" asp-for="@Model.SRS.FuncionalityRequirements[@i].SupportFor" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">@Localizer["Relations"]:</th>
                                    <td>
                                        <input class="form-control" placeholder="@Localizer["OthrRef"]" asp-for="@Model.SRS.FuncionalityRequirements[@i].Relations" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">@Localizer["Source"]:</th>
                                    <td>
                                        <input class="form-control" placeholder="@Localizer["StakeholderReference"]" asp-for="@Model.SRS.FuncionalityRequirements[@i].Source" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">@Localizer["Priority"]:</th>
                                    <td>
                                        <select class="form-control" placeholder="Type to search ..." onselect="@Model.SRS.FuncionalityRequirements[@i].Priority" asp-for="@Model.SRS.FuncionalityRequirements[@i].Priority" asp-items="ViewBag.Priorities"></select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    }
                }
            </div>
        </li>
        <li id="dtrq" class="list-group-item">
            @{
                count = @Model.SRS != null && @Model.SRS.DataRequirements.Any() ? @Model.SRS.DataRequirements.Count : 0;
            }
            <button type="button" class="btn btn-primary d-inline float-end my-2 ms-2 me-3" data-count=@count id="add-dtrq" onclick="addSection('dtrq')">+</button>
            <span class="fw-bold">@Localizer["DataRequirements"]</span>
            <div class="tables ms-2 me-auto">
                <i>Wymagania na dane pomagają w określeniu, jakie dane będą przetwarzane w systemie. Nie trzeba precyzować wszystkich danych. Szczegóły znajdą się w projekcie bazy danych.</i>
                @if (Model.SRS != null)
                {
                    @for (int i = 0; i < count; i++)
                    {
                        var reference = @Model.SRS.DataRequirements[@i].Reference.ToLower();
                        <table id="@reference" class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th scope="row" class="w-15 ref"><input class="form-control-plaintext fw-bold" asp-for="@Model.SRS.DataRequirements[@i].Reference" readonly /></th>
                                    <td class="fw-bold">
                                        <input class="form-control fw-bold" placeholder="@Localizer[""]" asp-for="@Model.SRS.DataRequirements[@i].Name" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">@Localizer["Description"]:</th>
                                    <td>
                                        <input class="form-control" placeholder="@Localizer["Description"]" asp-for="@Model.SRS.DataRequirements[@i].Description" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">@Localizer["Relations"]:</th>
                                    <td>
                                        <input class="form-control" placeholder="@Localizer["OthrRef"]" asp-for="@Model.SRS.DataRequirements[@i].Relations" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">@Localizer["Source"]:</th>
                                    <td>
                                        <input class="form-control" placeholder="@Localizer["StakeholderReference"]" asp-for="@Model.SRS.DataRequirements[@i].Source" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">@Localizer["Priority"]:</th>
                                    <td>
                                        <select class="form-control" placeholder="Type to search ..." onselect="@Model.SRS.DataRequirements[@i].Priority" asp-for="@Model.SRS.DataRequirements[@i].Priority" asp-items="ViewBag.Priorities"></select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    }
                }
            </div>
        </li>
        <li class="list-group-item">
            <span class="fw-bold">@Localizer["QualityRequirements"]</span>
            <div class="ms-2 me-auto">
                <i>Określenie wymagań jakościowych ułatwia późniejsze uzyskanie wysokiej jakości systemu. Podział wymagań jakościowych na kategorie jest związany z drzewem jakości (dotyczy wszystkich gałęzi drzewa za wyjątkiem funkcjonalności). Wymagania jakościowe powinny być powiązane z wymaganiami funkcjonalnymi, których dotyczą.</i>
                <ol class="list-group list-group-numbered">
                    <li id="rlrq" class="list-group-item">
                        @{
                            count = @Model.SRS != null && @Model.SRS.CredibilityRequirements.Any() ? @Model.SRS.CredibilityRequirements.Count : 0;
                        }
                        <button type="button" class="btn btn-primary d-inline float-end my-2 ms-2" data-count=@count id="add-rlrq" onclick="addSection('rlrq')">+</button>
                        <span class="fw-bold">@Localizer["CredibilityRequirements"]</span>
                        <div class="tables ms-2 me-auto">
                            <i>Wymagania w zakresie wiarygodności będą rozszerzały wymagania funkcjonalne.</i>
                            @if (Model.SRS != null)
                            {
                                @for (int i = 0; i < count; i++)
                                {
                                    var reference = @Model.SRS.CredibilityRequirements[@i].Reference.ToLower();
                                    <table id="@reference" class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <th scope="row" class="w-15 ref"><input class="form-control-plaintext fw-bold" asp-for="@Model.SRS.CredibilityRequirements[@i].Reference" readonly /></th>
                                                <td class="fw-bold">
                                                    <input class="form-control fw-bold" placeholder="@Localizer[""]" asp-for="@Model.SRS.CredibilityRequirements[@i].Name" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Description"]:</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer["Description"]" asp-for="@Model.SRS.CredibilityRequirements[@i].Description" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Relations"]:</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer["OthrRef"]" asp-for="@Model.SRS.DataRequirements[@i].Relations" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Source"]:</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer["StakeholderReference"]" asp-for="@Model.SRS.CredibilityRequirements[@i].Source" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Priority"]:</th>
                                                <td>
                                                    <select class="form-control" placeholder="Type to search ..." onselect="@Model.SRS.CredibilityRequirements[@i].Priority" asp-for="@Model.SRS.CredibilityRequirements[@i].Priority" asp-items="ViewBag.Priorities"></select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }
                            }
                        </div>
                    </li>
                    <li id="pfrq" class="list-group-item">
                        @{
                            count = @Model.SRS != null && @Model.SRS.PerformanceRequirements.Any() ? @Model.SRS.PerformanceRequirements.Count : 0;
                        }
                        <button type="button" class="btn btn-primary d-inline float-end my-2 ms-2" data-count=@count id="add-pfrq" onclick="addSection('pfrq')">+</button>
                        <span class="fw-bold">@Localizer["PerformanceRequirements"]</span>
                        <div class="tables ms-2 me-auto">
                            <i>Wymagania w zakresie wydajności będą miały zastosowanie w czasie projektowania architektury systemu.</i>
                            @if (Model.SRS != null)
                            {
                                @for (int i = 0; i < count; i++)
                                {
                                    var reference = @Model.SRS.PerformanceRequirements[@i].Reference.ToLower();
                                    <table id="@reference" class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <th scope="row" class="w-15 ref">
                                                    <input class="form-control-plaintext fw-bold" asp-for="@Model.SRS.PerformanceRequirements[@i].Reference" readonly />
                                                </th>
                                                <td class="fw-bold">
                                                    <input class="form-control fw-bold" placeholder="@Localizer[""]" asp-for="@Model.SRS.PerformanceRequirements[@i].Name" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Description"]:</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer["Description"]" asp-for="@Model.SRS.PerformanceRequirements[@i].Description" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Relations"]:</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer["FunctionalityRequirementReference"]" asp-for="@Model.SRS.PerformanceRequirements[@i].Relations" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Source"]:</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer["StakeholderReference"]" asp-for="@Model.SRS.PerformanceRequirements[@i].Source" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Priority"]:</th>
                                                <td>
                                                    <select class="form-control" placeholder="Type to search ..." onselect="@Model.SRS.PerformanceRequirements[@i].Priority" asp-for="@Model.SRS.PerformanceRequirements[@i].Priority" asp-items="ViewBag.Priorities"></select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }
                            }
                        </div>
                    </li>
                    <li id="flrq" class="list-group-item">
                        @{
                            count = @Model.SRS != null && @Model.SRS.FlexibilityRequirements.Any() ? @Model.SRS.FlexibilityRequirements.Count : 0;
                        }
                        <button type="button" class="btn btn-primary d-inline float-end my-2 ms-2" data-count=@count id="add-flrq" onclick="addSection('flrq')">+</button>
                        <span class="fw-bold">@Localizer["FlexibilityRequirements"]</span>
                        <div class="tables ms-2 me-auto">
                            <i>Wymagania w zakresie elastyczności będą miały zastosowanie w czasie wyboru koncepcji systemu.</i>
                            @if (Model.SRS != null)
                            {
                                @for (int i = 0; i < count; i++)
                                {
                                    var reference = @Model.SRS.FlexibilityRequirements[@i].Reference.ToLower();
                                    <table id="@reference" class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <th scope="row" class="w-15 ref">
                                                    <input class="form-control-plaintext fw-bold" asp-for="@Model.SRS.FlexibilityRequirements[@i].Reference" readonly />
                                                </th>
                                                <td class="fw-bold">
                                                    <input class="form-control fw-bold" placeholder="@Localizer[""]" asp-for="@Model.SRS.FlexibilityRequirements[@i].Name" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Description"]:</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer["Description"]" asp-for="@Model.SRS.FlexibilityRequirements[@i].Description" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Relations"]:</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer["SoftwareComponentReference"]" asp-for="@Model.SRS.FlexibilityRequirements[@i].Relations" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Source"]:</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer["StakeholderReference"]" asp-for="@Model.SRS.FlexibilityRequirements[@i].Source" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Priority"]:</th>
                                                <td>
                                                    <select class="form-control" placeholder="Type to search ..." onselect="@Model.SRS.FlexibilityRequirements[@i].Priority" asp-for="@Model.SRS.FlexibilityRequirements[@i].Priority" asp-items="ViewBag.Priorities"></select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }
                            }
                        </div>
                    </li>
                    <li id="strq" class="list-group-item">
                        @{
                            count = @Model.SRS != null && @Model.SRS.UsabilityRequirements.Any() ? @Model.SRS.UsabilityRequirements.Count : 0;
                        }
                        <button type="button" class="btn btn-primary d-inline float-end my-2 ms-2" data-count=@count id="add-strq" onclick="addSection('strq')">+</button>
                        <span class="fw-bold">@Localizer["UsabilityRequirements"]</span>
                        <div class="tables ms-2 me-auto">
                            <i>Wymagania w zakresie użyteczności będą brane pod uwagę głównie w czasie projektowania interfejsu użytkownika.</i>
                            @if (Model.SRS != null)
                            {
                                @for (int i = 0; i < count; i++)
                                {
                                    var reference = @Model.SRS.UsabilityRequirements[@i].Reference.ToLower();
                                    <table id="@reference" class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <th scope="row" class="w-15 ref">
                                                    <input class="form-control-plaintext fw-bold" asp-for="@Model.SRS.UsabilityRequirements[@i].Reference" readonly />
                                                </th>
                                                <td class="fw-bold">
                                                    <input class="form-control fw-bold" placeholder="@Localizer["name"]" asp-for="@Model.SRS.UsabilityRequirements[@i].Name" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Description"]:</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer["Description"]" asp-for="@Model.SRS.UsabilityRequirements[@i].Description" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Relations"]:</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer["FunctionalityRequirementReference"]" asp-for="@Model.SRS.UsabilityRequirements[@i].Relations" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Source"]:</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer["StakeholderReference"]" asp-for="@Model.SRS.UsabilityRequirements[@i].Source" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Priority"]:</th>
                                                <td>
                                                    <select class="form-control" placeholder="Type to search ..." onselect="@Model.SRS.UsabilityRequirements[@i].Priority" asp-for="@Model.SRS.UsabilityRequirements[@i].Priority" asp-items="ViewBag.Priorities"></select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }
                            }
                        </div>
                    </li>
                </ol>
            </div>
        </li>
        <li class="list-group-item">
            <span class="fw-bold">@Localizer["Exceptions"]</span>
            <div class="ms-2 me-auto">
                <i>Sytuacje wyjątkowe stanowią dalsze rozszerzenie wymagań funkcjonalnych i dotyczących wiarygodności. Każda sytuacja wyjątkowa musi być wspierana przez przynajmniej jedną funkcjonalność, która rozwiązuje problem, zapobiega awarii lub pozwala odzyskać sprawność po awarii.</i>
                <ol class="list-group list-group-numbered">
                    <li id="excp" class="list-group-item">
                        @{
                            count = @Model.SRS != null && @Model.SRS.Exceptions.Any() ? @Model.SRS.Exceptions.Count : 0;
                        }
                        <button type="button" class="btn btn-primary d-inline float-end my-2 ms-2" data-count=@count id="add-excp" onclick="addSection('excp')">+</button>
                        <span class="fw-bold">@Localizer["ExtraordinarySituations"]</span>
                        <div class="tables ms-2 me-auto">
                            @if (Model.SRS != null)
                            {
                                @for (int i = 0; i < count; i++)
                                {
                                    var reference = @Model.SRS.Exceptions[@i].Reference.ToLower();
                                    <table id="@reference" class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <th scope="row" class="w-15 ref">
                                                    <input class="form-control-plaintext fw-bold" asp-for="@Model.SRS.Exceptions[@i].Reference" readonly />
                                                </th>
                                                <td class="fw-bold">
                                                    <input class="form-control fw-bold" placeholder="@Localizer["name"]" asp-for="@Model.SRS.Exceptions[@i].Name" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Description"]:</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer["Description"]" asp-for="@Model.SRS.Exceptions[@i].Description" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Relations"]:</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer["FunctionalityRequirementReference"]" asp-for="@Model.SRS.Exceptions[@i].Relations" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["SupportFor"]:</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer["FunctionalityRequirementReference"]" asp-for="@Model.SRS.Exceptions[@i].SupportedFor" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Source"]:</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer["StakeholderReference"]" asp-for="@Model.SRS.Exceptions[@i].Source" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Priority"]:</th>
                                                <td>
                                                    <select class="form-control" placeholder="Type to search ..." onselect="@Model.SRS.Exceptions[@i].Priority" asp-for="@Model.SRS.Exceptions[@i].Priority" asp-items="ViewBag.Priorities"></select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }
                            }
                        </div>
                    </li>
                    <li id="cris" class="list-group-item">
                        @{
                            count = @Model.SRS != null && @Model.SRS.CriticalSituations.Any() ? @Model.SRS.CriticalSituations.Count : 0;
                        }
                        <button type="button" class="btn btn-primary d-inline float-end my-2 ms-2" data-count=@count id="add-cris" onclick="addSection('cris')">+</button>
                        <span class="fw-bold">@Localizer["CriticalSituations"]</span>
                        <div class="tables ms-2 me-auto">
                            <i>Sytuacje krytyczne to takie scenariusze, które mogą doprowadzić do awarii. Funkcjonalność wpierająca zapobiega załamaniu systemu.</i>
                            @if (Model.SRS != null)
                            {
                                @for (int i = 0; i < count; i++)
                                {
                                    var reference = @Model.SRS.CriticalSituations[@i].Reference.ToLower();
                                    <table id="@reference" class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <th scope="row" class="w-15 ref">
                                                    <input class="form-control-plaintext fw-bold" asp-for="@Model.SRS.CriticalSituations[@i].Reference" readonly />
                                                </th>
                                                <td class="fw-bold">
                                                    <input class="form-control fw-bold" placeholder="@Localizer["name"]" asp-for="@Model.SRS.CriticalSituations[@i].Name" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Description"]:</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer["Description"]" asp-for="@Model.SRS.CriticalSituations[@i].Description" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Relations"]:</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer["FunctionalityRequirementReference"]" asp-for="@Model.SRS.CriticalSituations[@i].Relations" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["SupportFor"]:</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer["FunctionalityRequirementReference"]" asp-for="@Model.SRS.CriticalSituations[@i].SupportedFor" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Source"]:</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer["StakeholderReference"]" asp-for="@Model.SRS.CriticalSituations[@i].Source" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Priority"]:</th>
                                                <td>
                                                    <select class="form-control" placeholder="Type to search ..." onselect="@Model.SRS.CriticalSituations[@i].Priority" asp-for="@Model.SRS.CriticalSituations[@i].Priority" asp-items="ViewBag.Priorities"></select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }
                            }
                        </div>
                    </li>
                    <li id="emrg" class="list-group-item">
                        @{
                            count = @Model.SRS != null && @Model.SRS.EmergancySituations.Any() ? @Model.SRS.EmergancySituations.Count : 0;
                        }
                        <button type="button" class="btn btn-primary d-inline float-end my-2 ms-2" data-count=@count id="add-emrg" onclick="addSection('emrg')">+</button>
                        <span class="fw-bold">@Localizer["EmergancySituations"]</span>
                        <div class="tables ms-2 me-auto">
                            <i>Sytuacje awaryjne to takie, w których szkoda już nastąpiła. Funkcjonalność wpierająca pomaga systemowi odzyskać pełną sprawność.</i>
                            @if (Model.SRS != null)
                            {
                                @for (int i = 0; i < count; i++)
                                {
                                    var reference = @Model.SRS.EmergancySituations[@i].Reference.ToLower();
                                    <table id="@reference" class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <th scope="row" class="w-15 ref">
                                                    <input class="form-control-plaintext fw-bold" asp-for="@Model.SRS.EmergancySituations[@i].Reference" readonly />
                                                </th>
                                                <td class="fw-bold">
                                                    <input class="form-control fw-bold" placeholder="@Localizer["name"]" asp-for="@Model.SRS.EmergancySituations[@i].Name" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Description"]:</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer["Description"]" asp-for="@Model.SRS.EmergancySituations[@i].Description" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Relations"]:</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer["FunctionalityRequirementReference"]" asp-for="@Model.SRS.EmergancySituations[@i].Relations" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["SupportFor"]:</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer["FunctionalityRequirementReference"]" asp-for="@Model.SRS.EmergancySituations[@i].SupportedFor" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Source"]:</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer["StakeholderReference"]" asp-for="@Model.SRS.EmergancySituations[@i].Source" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Priority"]:</th>
                                                <td>
                                                    <select class="form-control" placeholder="Type to search ..." onselect="@Model.SRS.EmergancySituations[@i].Priority" asp-for="@Model.SRS.EmergancySituations[@i].Priority" asp-items="ViewBag.Priorities"></select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }
                            }
                        </div>
                    </li>
                </ol>
            </div>
        </li>
        <li class="list-group-item">
            <span class="fw-bold">@Localizer["AdditionalRequirements"]</span>
            <div class="ms-2 me-auto">
                <i>W tym miejscu podaje się te wymagania, które nie mieszczą się w zakresie poprzednich kategorii wymagań.</i>
                <ol class="list-group list-group-numbered">
                    <li id="xhrq" class="list-group-item">
                        @{
                            count = @Model.SRS != null && @Model.SRS.HardwareRequirements.Any() ? @Model.SRS.HardwareRequirements.Count : 0;
                        }
                        <button type="button" class="btn btn-primary d-inline float-end my-2 ms-2" data-count=@count id="add-xhrq" onclick="addSection('xhrq')">+</button>
                        <div class="tables ms-2 me-auto">
                            <div class="fw-bold">@Localizer["HardwareRequirements"]</div>
                            <i></i>
                            @if (Model.SRS != null)
                            {
                                @for (int i = 0; i < count; i++)
                                {
                                    var reference = @Model.SRS.HardwareRequirements[@i].Reference.ToLower();
                                    <table id="@reference" class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <th scope="row" class="w-15 ref">
                                                    <input class="form-control-plaintext fw-bold" asp-for="@Model.SRS.HardwareRequirements[@i].Reference" readonly />
                                                </th>
                                                <td class="fw-bold">
                                                    <input class="form-control fw-bold" placeholder="@Localizer["name"]" asp-for="@Model.SRS.HardwareRequirements[@i].Name" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Description"]:</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer["HwReqAgreeClient"]" asp-for="@Model.SRS.HardwareRequirements[@i].Description" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["RefersTo"]:</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer["HardwareComponentReference"]" asp-for="@Model.SRS.HardwareRequirements[@i].RefersTo" />

                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Source"]:</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer["StakeholderReference"]" asp-for="@Model.SRS.HardwareRequirements[@i].Source" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Priority"]:</th>
                                                <td>
                                                    <select class="form-control" placeholder="Type to search ..." onselect="@Model.SRS.HardwareRequirements[@i].Priority" asp-for="@Model.SRS.HardwareRequirements[@i].Priority" asp-items="ViewBag.Priorities"></select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }
                            }
                        </div>
                    </li>
                    <li id="xsrq" class="list-group-item">
                        @{
                            count = @Model.SRS != null && @Model.SRS.SoftwareRequirements.Any() ? @Model.SRS.SoftwareRequirements.Count : 0;
                        }
                        <button type="button" class="btn btn-primary d-inline float-end my-2 ms-2" data-count=@count id="add-xsrq" onclick="addSection('xsrq')">+</button>
                        <span class="fw-bold">@Localizer["SoftwareRequirements"]</span>
                        <div class="tables ms-2 me-auto">
                            <i></i>
                            @if (Model.SRS != null)
                            {
                                @for (int i = 0; i < count; i++)
                                {
                                    var reference = @Model.SRS.SoftwareRequirements[@i].Reference.ToLower();
                                    <table id="@reference" class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <th scope="row" class="w-15 ref">
                                                    <input class="form-control-plaintext fw-bold" asp-for="@Model.SRS.SoftwareRequirements[@i].Reference" readonly />
                                                </th>
                                                <td class="fw-bold">
                                                    <input class="form-control fw-bold" placeholder="@Localizer["name"]" asp-for="@Model.SRS.SoftwareRequirements[@i].Name" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Description"]:</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer["Description"]" asp-for="@Model.SRS.SoftwareRequirements[@i].Description" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["RefersTo"]:</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer["SubsystemReference"]" asp-for="@Model.SRS.SoftwareRequirements[@i].RefersTo" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Source"]:</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer["StakeholderReference"]" asp-for="@Model.SRS.SoftwareRequirements[@i].Source" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Priority"]:</th>
                                                <td>
                                                    <select class="form-control" placeholder="Type to search ..." onselect="@Model.SRS.SoftwareRequirements[@i].Priority" asp-for="@Model.SRS.SoftwareRequirements[@i].Priority" asp-items="ViewBag.Priorities"></select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }
                            }
                        </div>
                    </li>
                    <li id="xxrq" class="list-group-item">
                        @{
                            count = @Model.SRS != null && @Model.SRS.OtherRequirements.Any() ? @Model.SRS.OtherRequirements.Count : 0;
                        }
                        <button type="button" class="btn btn-primary d-inline float-end my-2 ms-2" data-count=@count id="add-xxrq" onclick="addSection('xxrq')">+</button>
                        <span class="fw-bold">@Localizer["AdditionalRequirements"]</span>
                        <div class="tables ms-2 me-auto">
                            <i>@Localizer["AdditionalRequirementsDsc"]</i>
                            @if (Model.SRS != null)
                            {
                                @for (int i = 0; i < count; i++)
                                {
                                    var reference = @Model.SRS.OtherRequirements[@i].Reference.ToLower();
                                    <table id="@reference" class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <th scope="row" class="w-15 ref">
                                                    <input class="form-control-plaintext fw-bold" asp-for="@Model.SRS.OtherRequirements[@i].Reference" readonly />
                                                </th>
                                                <td class="fw-bold">
                                                    <input class="form-control fw-bold" placeholder="@Localizer["name"]" asp-for="@Model.SRS.OtherRequirements[@i].Name" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Description"]:</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer["OtherSystemsReference"]" asp-for="@Model.SRS.OtherRequirements[@i].Description" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["RefersTo"]:</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer["Reference"]" asp-for="@Model.SRS.OtherRequirements[@i].RefersTo" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Source"]:</th>
                                                <td>
                                                    <input class="form-control" placeholder="@Localizer["StakeholderReference"]" asp-for="@Model.SRS.OtherRequirements[@i].Source" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">@Localizer["Priority"]:</th>
                                                <td>
                                                    <select class="form-control" placeholder="Type to search ..." onselect="@Model.SRS.OtherRequirements[@i].Priority" asp-for="@Model.SRS.OtherRequirements[@i].Priority" asp-items="ViewBag.Priorities"></select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }
                            }
                        </div>
                    </li>
                </ol>
            </div>
        </li>
        <li id="acpt" class="list-group-item">
            @{
                count = @Model.SRS != null && @Model.SRS.AcceptanceCriteria.Any() ? @Model.SRS.AcceptanceCriteria.Count : 0;
            }
            <button type="button" class="btn btn-primary d-inline float-end my-2 ms-2 me-3" data-count=@count id="add-acpt" onclick="addSection('acpt')">+</button>
            <span class="fw-bold">@Localizer["AcceptanceCriteria"]</span>
            <div class="tables ms-2 me-auto">
                <i>Tu podać kryteria, jakim zostanie poddany gotowy system przed ostatecznym jego przyjęciem. Określa się warunki np. przeprowadzania testów albo okres próbnej eksploatacji. Nie podaje się takich oczywistych kryteriów jak spełnienie wymagań o priorytecie krytycznym.</i>
                @if (Model.SRS != null)
                {
                    @for (int i = 0; i < count; i++)
                    {
                        var reference = @Model.SRS.AcceptanceCriteria[@i].Reference.ToLower();
                        <table id="@reference" class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th scope="row" class="w-15 ref">
                                        <input class="form-control-plaintext fw-bold" asp-for="@Model.SRS.AcceptanceCriteria[@i].Reference" readonly />
                                    </th>
                                    <td class="fw-bold">
                                        <input class="form-control fw-bold" placeholder="@Localizer["name"]" asp-for="@Model.SRS.AcceptanceCriteria[@i].Name" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">@Localizer["Description"]:</th>
                                    <td>
                                        <input class="form-control" placeholder="@Localizer["Description"]" asp-for="@Model.SRS.AcceptanceCriteria[@i].Description" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">@Localizer["RefersTo"]:</th>
                                    <td>
                                        <input class="form-control" placeholder="@Localizer["Reference"]" asp-for="@Model.SRS.AcceptanceCriteria[@i].RefersTo" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">@Localizer["Source"]:</th>
                                    <td>
                                        <input class="form-control" placeholder="@Localizer["StakeholderReference"]" asp-for="@Model.SRS.AcceptanceCriteria[@i].Source" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">@Localizer["Priority"]:</th>
                                    <td>
                                        <select class="form-control" placeholder="Type to search ..." onselect="@Model.SRS.AcceptanceCriteria[@i].Priority" asp-for="@Model.SRS.AcceptanceCriteria[@i].Priority" asp-items="ViewBag.Priorities"></select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    }
                }
            </div>
        </li>
        <li class="list-group-item">
            <span class="fw-bold">@Localizer["Dictionary"]</span>
            <div class="ms-2 me-auto">
                <textarea class="form-control" rows="3" asp-for="@Model.SRS.Dictionary" placeholder="Znaczenia specyficznych pojęć, skrótów. Może być umieszczony w osobnym dokumencie."></textarea>
            </div>
        </li>
        <li class="list-group-item">
            <span class="fw-bold">@Localizer["Attachements"]</span>
            <div class="ms-2 me-auto">
                <table class="table table-bordered">
                    <thead>
                        <tr><th>@Localizer["FileName"]</th><th>@Localizer["ContentType"]</th><th>@Localizer["Created"]</th></tr>
                    </thead>
                    <tbody>
                        @if (Model.SRS != null && Model.SRS.Attachements.Any())
                        {
                            count = Model.SRS.Attachements.Count;

                            @for (int i = 0; i < count; i++)
                            {
                                <tr>
                                    <td><input class="form-control-plaintext" asp-for="@Model.SRS.Attachements[@i].FileName" readonly /></td>
                                    <td><input class="form-control-plaintext" asp-for="@Model.SRS.Attachements[@i].ContentType" readonly /></td>
                                    <td><input class="form-control-plaintext" asp-for="@Model.SRS.Attachements[@i].CreatedDate" asp-format="{0:yyyy-MM-ddTHH:mm}" readonly  /></td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr><td colspan="3" class="text-center">No attachements</td></tr>
                        }
                    </tbody>
                </table>
            </div>
        </li>
    </ol>
    <button type="submit" class="btn btn-primary">@Localizer["SaveSrs"]</button>
</form>

