@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;

@model SRS_Game.Models.DocumentViewModel;

@if (Model != null && Model.History.Any())
{
    <table class="table table-striped">
        <tr>
            <th>@Localizer["Description"]</th>
            <th>@Localizer["CreatedDate"]</th>
            <th>@Localizer["Author"]</th>
            <th>@Localizer["Version"]</th>
            <th>@Localizer["Open"]</th>
        </tr>
        @foreach (var itemHistory in Model.History)
        {
            <tr>
                <td>@itemHistory.Description</td>
                <td>@itemHistory.Created</td>
                <td>@itemHistory.AuthorFullName</td>
                <td>@itemHistory.Version</td>
                <td><a asp-action="Details" class="mr-3" title="View"><i class="bi bi-book"></i></a></td>
            </tr>
        }
    </table>
}
else
{
    @Localizer["NoHistory"]
}