@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;

@model SRS_Game.Models.Document;

@{
    ViewData["Title"] = @Localizer["Add a new document"];
}
<div class="row">
    <div class="col-8">
        <h1>@ViewData["Title"]</h1>
        <h4>@Localizer["Specification of requirements"]</h4>
    </div>
    <div class="col-4 align-bottom text-end">
        <input type="submit" value=@Localizer["Add"] form="create-form" class="btn btn-primary mr-3" />
        @Html.ActionLink(@Localizer["BackToList"].Value, "Index", "Documents", null, new { @class = "btn btn-primary" })
    </div>
</div>
<hr />
@if (ViewBag.Message != null)
{
    <div class="alert alert-@ViewBag.Message.Type" role="alert">
        @ViewBag.Message.Text
    </div>
}
<div class="row">
    <div class="col-sm-6">
        <form id="create-form" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3 row">
                <label asp-for="Name" class="col-sm-3 col-form-label">@Localizer["Name"]</label>
                <div class="col-sm-9">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="ProjectId" class="col-sm-3 col-form-label">@Localizer["Project"]</label>
                <div class="col-sm-9">
                    <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.Projects">
                        <option value="">@Localizer["-- Select an option --"]</option>
                    </select>
                    <span asp-validation-for="ProjectId" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="TeamLeaderId" class="col-sm-3 col-form-label">@Localizer["SupervisorManager"]</label>
                <div class="col-sm-9">
                    <select asp-for="TeamLeaderId" class="form-control" asp-items="ViewBag.Participants">
                        <option value="">@Localizer["-- Select an option --"]</option>
                    </select>
                    <span asp-validation-for="TeamLeaderId" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="Destination" class="col-sm-3 col-form-label">@Localizer["Description"]</label>
                <div class="col-sm-9">
                    <input asp-for="Destination" class="form-control" />
                    <span asp-validation-for="Destination" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="AuthorId" class="col-sm-3 col-form-label">@Localizer["Autor"]</label>
                <div class="col-sm-9">
                    <select asp-for="AuthorId" class="form-control" asp-items="ViewBag.Participants">
                        <option value="">@Localizer["-- Select an option --"]</option>
                    </select>
                    <span asp-validation-for="AuthorId" class="text-danger"></span>
                </div>
            </div>
            @*<div class="mb-3 row">
                <label asp-for="UpdateDate" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9"><input asp-for="UpdateDate" class="form-control" /></div>
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>
            <div class="mb-3 row">
                <label asp-for="Version" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9"><input asp-for="Version" class="form-control" /></div>
                <span asp-validation-for="Version" class="text-danger"></span>
            </div> *@
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
