@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;

@model SRS_Game.Models.Document;

@{
    ViewData["Title"] = Localizer["Create a new document"];
}

<h1>@ViewData["Title"]</h1>

<h4>@Localizer["Specification of requirements"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">@Localizer["Name"]</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectId" class="control-label">@Localizer["Project"]</label>
                <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.Projects"></select>
                <span asp-validation-for="ProjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">@Localizer["Description"]</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorId" class="control-label">@Localizer["Autor"]</label>
                <select asp-for="AuthorId" class="form-control" asp-items="ViewBag.Participants"></select>
                <span asp-validation-for="AuthorId" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="UpdateDate" class="control-label"></label>
                <input asp-for="UpdateDate" class="form-control" />
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Version" class="control-label"></label>
                <input asp-for="Version" class="form-control" />
                <span asp-validation-for="Version" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="FileName" class="control-label">@Localizer["File name"]</label>
                <input asp-for="FileName" class="form-control" />
                <span asp-validation-for="FileName" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="@Localizer["Add"]" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">@Localizer["Back to List"]</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
