@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;

@model SRS_Game.Models.DocumentViewModel;

@{
    ViewData["Title"] = @Localizer["Details"];
}
<div class="row">
    <div class="col-8">
        <h1>@Localizer["Document"] @Localizer["Details"]</h1>
        <h4>"@Html.DisplayFor(model => model.Name)"</h4>
    </div>
    <div class="col-4 align-bottom text-end">
        @Html.ActionLink(@Localizer["Edit"].Value, "Edit", "Documents", new { id = Model.Id }, new { @class = "btn btn-primary" })
        @Html.ActionLink(@Localizer["BackToList"].Value, "Index", "Documents", null, new { @class = "btn btn-primary" })
    </div>
</div>
<hr />
<div class="card">
    <div class="card-header text-center">
        <ul class="nav nav-tabs card-header-tabs" data-bs-tabs="tabs">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" aria-current="true" href="#summary">@Localizer["Summary"]</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#srs-doc">SRS @Localizer["Document"]</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#srs-attachements">@Localizer["Attachements"]</a>
            </li>
        </ul>
    </div>
    <div class="card-body tab-content">
        <div class="tab-pane active" id="summary">
            <div class="row">
                <div class="col">
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Localizer[Html.DisplayNameFor(model => model.Version)]
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Version)
                        </dd>
                        <dt class = "col-sm-2">
                            @Localizer[Html.DisplayNameFor(model => model.Destination)]
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Destination)
                        </dd>
                        <dt class="col-sm-2">
                            @Localizer[Html.DisplayNameFor(model => model.Project)]
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Project)
                        </dd>
                        <dt class="col-sm-2">
                            @Localizer[Html.DisplayNameFor(model => model.Team)]
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Team)
                        </dd>
                        <dt class = "col-sm-2">
                            @Localizer[Html.DisplayNameFor(model => model.CreatedDate)]
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.CreatedDate)
                        </dd>
                        <dt class = "col-sm-2">
                            @Localizer[Html.DisplayNameFor(model => model.UpdatedDate)]
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.UpdatedDate)
                        </dd>
                        <dt class="col-sm-2">
                            @Localizer[Html.DisplayNameFor(model => model.Author)]
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Author)
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="row mt-3">
            <div class="col card">
                <div class="card-header">
                    <h4>@Localizer["Document history"]</h4>
                </div>
                <div class="card-body">
                    <partial name="_DocumentHistoryPartial" />
                </div>
            </div>
        </div>
        </div>
        <div class="tab-pane" id="srs-doc">
            <pre class="pre-wrap">@ViewBag.XamlContent</pre>
        </div>
        <div class="tab-pane" id="srs-attachements">
            <div class="row mt-4">
                <div class="col card">
                    <div class="card-header">
                        <h4>@Localizer["Attachements"]</h4>
                    </div>
                    <div class="card-body">
                        @if (Model == null || ViewBag.Attachements == null)

                        {
                            @Localizer["There are no attachements for this document."]
                        }

                        else

                        {
                            <table class="table table-striped">
                                <tr>
                                    <th>@Localizer["File name"]</th>
                                    <th>@Localizer["Content type"]</th>
                                    <th>@Localizer["CreatedDate"]</th>
                                </tr>
                                @foreach (var attachement in ViewBag.Attachements)
                                {
                                    <tr>
                                        <td>@attachement.FileName</td>
                                        <td>@attachement.ContentType</td>
                                        <td>@attachement.CreatedDate</td>
                                    </tr>
                                }
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
