@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;

@model SRS_Game.Models.Document;

@{
    ViewData["Title"] = Localizer["Edit"];
}
<div class="row">
    <div class="col-8">
        <h1>@Localizer["Document"] - @Localizer["Edit"]</h1>
        <h4>"@Html.DisplayFor(model => model.Name)"</h4>
    </div>
    <div class="col-4 align-bottom text-end">
        <input type="submit" value=@Localizer["Save"] form="srs-header-form" id="srs-submit" class="btn btn-primary mr-3" />
        @Html.ActionLink(@Localizer["Cancel"].Value, "Details", "Documents", new { id = Model.Id }, new { @class = "btn btn-primary" })
        @Html.ActionLink(@Localizer["BackToList"].Value, "Index", "Documents", null, new { @class = "btn btn-primary" })
    </div>
</div>
<hr />
@if (ViewBag.Message != null)
{
<div class="alert alert-@ViewBag.Message.Type" role="alert">
    @ViewBag.Message.Text
</div>
}
<div class="card">
    <div class="card-header text-center">
        <ul class="nav nav-tabs card-header-tabs" data-bs-tabs="tabs">
            <li class="nav-item">
                <a class="nav-link active" id="srs-header" data-bs-toggle="tab" aria-current="true" href="#summary">@Localizer["Summary"]</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#srs-history">SRS @Localizer["History"]</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="srs-body" data-bs-toggle="tab" href="#srs-doc">SRS @Localizer["Document"]</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#srs-sources">@Localizer["Source"]</a>
            </li>
        </ul>
    </div>
    <div class="card-body tab-content">
        <div class="tab-pane active" id="summary">
            <div class="row">
                <div class="col-md">
                    <form id="srs-header-form" class="" asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />

                        <table class="table-bordered mb-2 w-100">
                            <tr class="align-top">
                                <td class="form-floating">
                                    <select asp-for="TeamId" class="form-select border-0" asp-items="ViewBag.Teams" onselect="@Model.TeamId"></select>
                                    <label asp-for="TeamId">@Localizer["TeamNumber"]:</label>
                                </td>
                                <td class="form-floating">
                                    <select class="form-select border-0" asp-for="TeamLeaderId" asp-items="ViewBag.Participants" onselect="@Model.TeamLeaderId"></select>
                                    <label asp-for="TeamLeaderId">@Localizer["SupervisorManager"]</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="form-floating" colspan="2">
                                    <select asp-for="ProjectId" class="form-select border-0" asp-items="ViewBag.Projects" onselect="@Model.ProjectId"></select>
                                    <label asp-for="ProjectId">@Localizer["ProjectName"]:</label>
                                </td>
                            </tr>
                        </table>

                        <table class="table-bordered mb-2 w-100">
                            <tr class="align-top">
                                <td class="form-floating pb-0">
                                    <input asp-for="Name" class="form-control-plaintext h4" placeholder="@Localizer["DocumentName"]" />
                                    <label asp-for="Name">@Localizer["DocumentName"]:</label>
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </td>
                                <td class="form-floating pb-0">
                                    <input type="text" class="form-control-plaintext" asp-for="Version" readonly placeholder="@Localizer["VersionNr"]" />
                                    <label asp-for="Version" class="col-sm-3 col-form-label">@Localizer["VersionNr"]:</label>
                                </td>
                            </tr>
                            <tr class="align-top">
                                <td class="form-floating">
                                    <select asp-for="AuthorId" class="form-select border-0" asp-items="ViewBag.Participants" onselect="@Model.AuthorId"></select>
                                    <label asp-for="AuthorId" class="col-sm-3 col-form-label">@Localizer["ResponsibleForTheDocument"]:</label>
                                </td>
                                <td class="form-floating">
                                    <input asp-for="UpdatedDate" asp-format="{0:yyyy-MM-ddTHH:mm}" class="form-control-plaintext" placeholder="@Localizer["UpdatedDate"]" readonly />
                                    <label asp-for="UpdatedDate">@Localizer["UpdatedDate"]:</label>
                                </td>
                            </tr>
                            <tr class="align-top">
                                <td class="form-floating">
                                    <input asp-for="Destination" class="form-control-plaintext" placeholder="@Localizer["Destination"]" />
                                    <label asp-for="Destination">@Localizer["Destination"]:</label>
                                </td>
                                <td class="form-floating">
                                    <input asp-for="CreatedDate" asp-format="{0:yyyy-MM-ddTHH:mm}" class="form-control-plaintext" placeholder="@Localizer["CreatedDate"]" readonly />
                                    <label asp-for="CreatedDate">@Localizer["CreatedDate"]:</label>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="srs-history">
            <div class="row">
                <div class="col card">
                    <div class="card-header">
                        <h4>@Localizer["Document history"]</h4>
                    </div>
                    <div class="card-body">
                        <partial name="_DocumentHistoryPartial" />
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="srs-doc">
            <partial name="SrsDocument\_SrsDocEditPartial" />
        </div>
        <div class="tab-pane" id="srs-sources">
            <div class="row">
                <div class="col card">
                    <div class="card-header">
                        <h4>@Localizer["Meeting Transcript"]</h4>
                    </div>
                    <div class="card-body">
                        <h5>@Html.Raw(ViewData["TopicS"])</h5>
                        <p>@Html.Raw(ViewData["MeetingDateS"])</p>
                        <p>@Html.Raw(ViewData["ParticipantsS"])</p>
                        <p>@Html.Raw(ViewData["ContentS"])</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="SrsDocument\_SrsDocBlankPartial" />

@section Styles {
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/srs-doc.js" asp-append-version="true"></script>
}
