@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;

@model SRS_Game.Models.Attachement;

@{
    ViewData["Title"] = Localizer["Edit"];
}
<div class="row">
    <div class="col-8">
        <h1>@Localizer["Attachement"] - @Localizer["Edit"]</h1>
    </div>
    <div class="col-4 align-bottom text-end">
        <input type="submit" value=@Localizer["Save"] form="edit-form" class="btn btn-primary mr-3" />
        @Html.ActionLink(@Localizer["Cancel"].Value, "Details", "Attachements", new { id = Model.Id }, new { @class = "btn btn-primary" })
        @Html.ActionLink(@Localizer["BackToList"].Value, "Index", "Attachements", null, new { @class = "btn btn-primary" })
        @*<a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary mr-3">@Localizer["Edit"]</a>
        <a asp-action="Index" class="btn btn-primary">@Localizer["Back to List"]</a>*@
    </div>
</div>
<hr />
@if (ViewBag.Message != null)
{
    <div class="alert alert-@ViewBag.Message.Type" role="alert">
        @ViewBag.Message.Text
    </div>
}
<div class="row">
    <div class="col">
        <form id="edit-form" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CreatedDate" />
            <input type="hidden" asp-for="ContentType" />
            <div class="mb-3 row">
                <label asp-for="FileName" class="col-sm-3 col-form-label">@Localizer["File name"]</label>
                <div class="col-sm-9">
                    <input asp-for="FileName" class="form-control-plaintext" readonly />
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="DocumentId" class="col-sm-3 col-form-label">@Localizer["Document"]</label>
                <div class="col-sm-9">
                    <select asp-for="DocumentId" class="form-select" asp-items="ViewBag.Documents"></select>
                </div>
                <span asp-validation-for="DocumentId" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
