@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model MeetingHistoryFile

@{
    ViewData["Title"] = Localizer["Upload File"];
}

@section Styles {
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/chat.css" asp-append-version="true" />
}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card p-3">
                <div class="message">@ViewBag.Message</div>
                <h2>@ViewData["Title"]</h2>
                @using (Html.BeginForm("UploadFilePost", "Attachements", FormMethod.Post, new { enctype = "multipart/form-data", @class = "was-validated" }))
                {
                    <label asp-for="DocumentId" class="control-label">@Localizer["Document name"]</label>
                    <select asp-for="DocumentId" class="form-select" asp-items="ViewBag.Documents" aria-label="@Localizer["Select document for this attachement"]"></select>
                    <div class="input-group my-3 border border-info p-2 rounded">
                        <div class="form-check-inline">@Localizer["Source (if uploading transcript)"]:</div>
                        <div class="form-check form-check-inline">
                            @Html.RadioButtonFor(m => m.FileSourceType, 0, new { @class = "form-check-input" })
                            @Html.Label("FileSourceType", "MS Teams", new { @class = "form-check-label", @checked = "checked" })
                        </div>
                        <div class="form-check form-check-inline">
                            @Html.RadioButtonFor(m => m.FileSourceType, 1, new { @class = "form-check-input" })
                            @Html.Label("FileSourceType", "Zoom", new { @class = "form-check-label" })
                        </div>
                    </div>
                    <div class="mb-3 mt-1">
                        @Html.TextBox("file", "", new { type = "file", @class = "form-control", @required = "required" })
                        <div class="valid-feedback">@Localizer["Valid"].</div>
                        <div class="invalid-feedback">@Localizer["Required"].</div>
                    </div>
                    <button type="submit" class="btn btn-primary">@Localizer["Upload"]</button>
                }
            </div>
        </div>
    </div>
</div>
