@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;

@model SRS_Game.Models.UserIndexViewModel

@{
    ViewData["Title"] = "Details";
}
<div class="row">
    <div class="col-8">
        <h1>@Localizer["User"] - @Localizer["Details"]</h1>
    </div>
    <div class="col-4 align-bottom text-end">
        @Html.ActionLink(@Localizer["Edit"].Value, "Edit", "Users", new { id = Model.Id }, new { @class = "btn btn-primary" })
        @Html.ActionLink(@Localizer["BackToList"].Value, "Index", "Users", null, new { @class = "btn btn-primary" })
        @*<a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary mr-3">@Localizer["Edit"]</a>
        <a asp-action="Index" class="btn btn-primary">@Localizer["Back to List"]</a>*@
    </div>
</div>
<hr />
<div class="w-100">
    <dl class="row">
        <dt class = "col-sm-2">
            @Localizer[@Html.DisplayNameFor(model => model.FirstName)]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Localizer[@Html.DisplayNameFor(model => model.LastName)]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Localizer[@Html.DisplayNameFor(model => model.Login)]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Login)
        </dd>
        <dt class = "col-sm-2">
            @Localizer[@Html.DisplayNameFor(model => model.Email)]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Localizer[@Html.DisplayNameFor(model => model.PhoneNumber)]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Localizer[@Html.DisplayNameFor(model => model.Roles)]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Roles)
        </dd>
    </dl>
</div>
