@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model IEnumerable<SRS_Game.Models.User>

@{
    ViewData["Title"] = Localizer["Users"];
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">@Localizer["Create New User"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer[Html.DisplayNameFor(model => model.Name)]
            </th>
            <th>
                @Localizer[Html.DisplayNameFor(model => model.FirstName)]
            </th>
            <th>
                @Localizer[@Html.DisplayNameFor(model => model.LastName)]
            </th>
            <th>
                @Localizer[@Html.DisplayNameFor(model => model.Email)]
            </th>
            <th>
                @Localizer[@Html.DisplayNameFor(model => model.PhoneNumber)]
            </th>
            <th>
                @Localizer[@Html.DisplayNameFor(model => model.TypeId)]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Localizer["Edit"]</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@Localizer["Details"]</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@Localizer["Delete"]</a>
            </td>
        </tr>
}
    </tbody>
    <tfoot></tfoot>
</table>
