@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;

@model SRS_Game.Models.Participant;

@{
    ViewData["Title"] = @Localizer["Delete"];
}
<div class="row">
    <div class="col-8">
        <h1>@Localizer["Delete"] - "@Model.FirstName @Model.LastName"</h1>
        <h3>@Localizer["Asking"]?</h3>
    </div>
</div>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Localizer[Html.DisplayNameFor(model => model.Name)]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Localizer[Html.DisplayNameFor(model => model.FirstName)]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Localizer[Html.DisplayNameFor(model => model.LastName)]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Localizer[Html.DisplayNameFor(model => model.PhoneNumber)]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Localizer[Html.DisplayNameFor(model => model.IsExternal)]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsExternal)
        </dd>
        <dt class="col-sm-2">
            @Localizer[Html.DisplayNameFor(model => model.Address)]
        </dt>
        <dd class="col-sm-10">
            <pre>@Html.DisplayFor(model => model.Address)</pre>
        </dd>
    </dl>
</div>
<hr />
<div class="row">
    <div class="col">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="@Localizer["Delete"]" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-primary ms-2">@Localizer["BackToList"]</a>
        </form>
    </div>
</div>