@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;

@model SRS_Game.Models.Participant;

@{
    ViewData["Title"] = Localizer["Edit"];
}
<div class="row">
    <div class="col-8">
        <h1>@Localizer["Stakholder"] - @Localizer["Edit"]</h1>
    </div>
    <div class="col-4 align-bottom text-end">
        <input type="submit" value=@Localizer["Save"] form="edit-form" class="btn btn-primary mr-3" />
        @Html.ActionLink(@Localizer["Cancel"].Value, "Details", "Participants", new { id = Model.Id }, new { @class = "btn btn-primary" })
        @Html.ActionLink(@Localizer["BackToList"].Value, "Index", "Participants", null, new { @class = "btn btn-primary" })
        @*<a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary mr-3">@Localizer["Edit"]</a>
        <a asp-action="Index" class="btn btn-primary">@Localizer["Back to List"]</a>*@
    </div>
</div>
<hr />
@if (ViewBag.Message != null) {
    <div class="alert alert-@ViewBag.Message.Type" role="alert">
        @ViewBag.Message.Text
    </div>
}
<div class="row">
    <div class="col-md-6">
        <form id="edit-form" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CreatedDate" />
            <div class="mb-3 row">
                <label asp-for="Name" class="col-sm-4 col-form-label">@Localizer[Html.DisplayNameFor(model => model.Name)]</label>
                <div class="col-sm-8"><input asp-for="Name" class="form-control" /></div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3 row">
                <label asp-for="FirstName" class="col-sm-4 col-form-label">@Localizer[Html.DisplayNameFor(model => model.FirstName)]</label>
                <div class="col-sm-8"><input asp-for="FirstName" class="form-control" /></div>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3 row">
                <label asp-for="LastName" class="col-sm-4 col-form-label">@Localizer[Html.DisplayNameFor(model => model.LastName)]</label>
                <div class="col-sm-8"><input asp-for="LastName" class="form-control" /></div>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="mb-3 row">
                <label asp-for="Email" class="col-sm-4 col-form-label">@Localizer[Html.DisplayNameFor(model => model.Email)]</label>
                <div class="col-sm-8"><input asp-for="Email" class="form-control" /></div>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3 row">
                <label asp-for="PhoneNumber" class="col-sm-4 col-form-label">@Localizer[Html.DisplayNameFor(model => model.PhoneNumber)]</label>
                <div class="col-sm-8"><input asp-for="PhoneNumber" class="form-control" /></div>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="mb-3 row">
                <label asp-for="IsExternal" class="col-sm-4 col-form-label">@Localizer[Html.DisplayNameFor(model => model.IsExternal)]</label>
                <div class="col-sm-8 text-center"><input asp-for="IsExternal" class="form-check-input" type="checkbox" /></div>
                <span asp-validation-for="IsExternal" class="text-danger"></span>
            </div>
            <div class="mb-3 row">
                <label asp-for="Address" class="col-sm-4 col-form-label">@Localizer[Html.DisplayNameFor(model => model.Address)]</label>
                <div class="col-sm-8"><textarea asp-for="Address" class="form-control" rows="3"></textarea></div>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
