@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Home Page"];
}

<div class="container">
    <div class="row pb-lg-3">
        <div class="col-lg-6">
            <div class="card p-3">
                @Localizer["Projects"] - @Localizer["Statistics"]
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card p-3">
                @Localizer["Documents"] - @Localizer["Statistics"]
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-6">
            <div class="card p-3">
                @Localizer["Users"] - @Localizer["Statistics"]
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card p-3">
                <a href="https://support.microsoft.com/en-us/office/view-live-transcription-in-microsoft-teams-meetings-dc1a8f23-2e20-4684-885e-2152e06a4a8b">
                    @Localizer["View live transcription in Microsoft Teams meetings"]
                </a>
            </div>
        </div>
    </div>
</div>

@section Scripts {

} 