@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;

@model SRS_Game.Models.TeamParticipantsViewModel;

@{
    ViewData["Title"] = Localizer["Edit"];
}
<div class="row">
    <div class="col-8">
        <h1>@Localizer["Team"] - @Localizer["Edit"]</h1>
    </div>
    <div class="col-4 align-bottom text-end">
        <input type="submit" value=@Localizer["Save"] form="edit-form" class="btn btn-primary mr-3" />
        @Html.ActionLink(@Localizer["Cancel"].Value, "Details", "Teams", new { id = Model.Id }, new { @class = "btn btn-primary" })
        @Html.ActionLink(@Localizer["BackToList"].Value, "Index", "Teams", null, new { @class = "btn btn-primary" })
        @*<a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary mr-3">@Localizer["Edit"]</a>
        <a asp-action="Index" class="btn btn-primary">@Localizer["Back to List"]</a>*@
    </div>
</div>
<hr />
@if (ViewBag.Message != null)
{
    <div class="alert alert-@ViewBag.Message.Type" role="alert">
        @ViewBag.Message.Text
    </div>
}
else if (TempData["Message"] != null)
{
    <div class="alert alert-danger" role="alert">
        @Localizer[TempData["Message"].ToString()]
    </div>
}
<div class="row">
    <div class="col">
        <form id="edit-form" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CreatedDate" />
            <div class="mb-3 row">
                <label asp-for="Name" class="col-sm-2 col-form-label">@Localizer["Name"]</label>
                <div class="col-sm-10">
                    <input asp-for="Name" class="form-control" />
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3 row">
                <label asp-for="Name" class="col-sm-2 col-form-label">@Localizer["Number"]</label>
                <div class="col-sm-10">
                    <input asp-for="Number" class="form-control" />
                </div>
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="mt-2 card">
                <div class="card-header">@Localizer["Team members"]</div>
                <div class="card-body">
                    <table class="table table-striped">
                        <tr>
                            <th>#</th>
                            <th>@Html.DisplayFor(model => model.Name)</th>
                            <th>@Localizer["Fullname"]</th>
                            <th>@Localizer["Email"]</th>
                            <th>@Localizer["Actions"]</th>
                        </tr>
                        @{ int i = 1; }
                        @foreach (var member in Model.Members)
                        {
                            <tr>
                                <td scope="col">@i</td>
                                <td scope="col">@member.Name</td>
                                <td scope="col">@member.FirstName @member.LastName</td>
                                <td scope="col">@member.Email</td>
                                <td scope="col">
                                    <a asp-action="ChangeMembers" asp-route-id="@Model.Id" asp-route-participant="@member.Id" asp-route-team_action="delete" class="btn btn-sm btn-primary mr-3">
                                    @Localizer["Delete"]</a></td>
                            </tr>
                            i++;
                        }
                        <tfoot>
                        <tr>
                            <td>@i</td>
                            <td colspan="3">
                                <select id="select-member" class="form-select border-0" asp-items="ViewBag.Participants">
                                <option value="">@Localizer["-- Select an option --"]</option>
                                </select>
                            </td>
                            <td>
                                <a id="add-participant" asp-action="ChangeMembers" asp-route-id="@Model.Id" asp-route-participant="0" asp-route-team_action="add" class="btn btn-sm btn-primary mr-3">@Localizer["Add"]</a>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $("#select-member").on("change", function () {
                var url = new URL($("#add-participant").attr("href"), window.location.origin);
                url.searchParams.set('participant', $("#select-member").val());
                $("#add-participant").attr("href", url.toString());
            });
        });
    </script>
}
