@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;

@model SRS_Game.Models.TeamParticipantsViewModel;

@{
    ViewData["Title"] = Localizer["Edit"];
}

<h4>@Localizer["Team"] - @Localizer["Edit"]</h4>
<hr />
@if (ViewBag.Message != null)
{
    <div class="alert alert-@ViewBag.Message.Type" role="alert">
        @ViewBag.Message.Text
    </div>
}
<div class="row">
    <div class="col">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CreatedDate" />
            <div class="mb-3 row">
                <label asp-for="Name" class="col-sm-2 col-form-label">@Localizer["Name"]</label>
                <div class="col-sm-10">
                    <input asp-for="Name" class="form-control" />
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3 row">
                <label asp-for="Name" class="col-sm-2 col-form-label">@Localizer["Number"]</label>
                <div class="col-sm-10">
                    <input asp-for="Number" class="form-control" />
                </div>
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="mt-2 card">
                <div class="card-header">@Localizer["Team members"]</div>
                <div class="card-body">
                    <table class="table table-striped">
                        <tr>
                            <th>Id</th>
                            <th>@Html.DisplayFor(model => model.Name)</th>
                            <th>@Localizer["Participant Name"]</th>
                            <th>@Localizer["Email"]</th>
                            <th>@Localizer["Actions"]</th>
                        </tr>
                        @foreach (var member in Model.Members)
                        {
                            <tr>
                                <td scope="col">@member.Id</td>
                                <td scope="col">@member.Name</td>
                                <td scope="col">@member.FirstName @member.LastName</td>
                                <td scope="col">@member.Email</td>
                                <td scope="col">
                                    <a asp-action="DeleteMember" asp-route-id="@Model.Id" asp-route-participant="@member.Id" class="btn btn-sm btn-primary mr-3">
                                    @Localizer["Delete"]</a></td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value=@Localizer["Save"] class="btn btn-primary mr-3" />
                <button asp-action="Details" class="btn btn-primary">@Localizer["Cancel"]</button>
                <button asp-action="Index" class="btn btn-primary">@Localizer["Back to List"]</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
