@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;

@model SRS_Game.Models.TeamParticipantsViewModel;

@{
    ViewData["Title"] = Localizer["Edit"];
}

<h4>@Localizer["Team"]+(@Model.Team.Number) - @Localizer["Edit"]</h4>
<hr />
<div class="row">
    <div class="col">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Team.Id" />
            <div class="form-group">
                <label asp-for="Team.Name" class="control-label">@Localizer["Name"]</label>
                <input asp-for="Team.Name" class="form-control" />
                <span asp-validation-for="Team.Name" class="text-danger"></span>
            </div>
            <h5>@Localizer["Team members"]</h5>
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>@Html.DisplayFor(model => model.Team.Name)</th>
                    <th>@Localizer["Participant Name"]</th>
                    <th>@Localizer["Email"]</th>
                    <th>@Localizer["Actions"]</th>
                </tr>
                @foreach (var member in Model.Members)
                {
                    <tr>
                        <td scope="col">@member.Id</td>
                        <td scope="col">@member.Name</td>
                        <td scope="col">@member.FirstName @member.LastName</td>
                        <td scope="col">@member.Email</td>
                        <td scope="col"><a asp-action="DeleteMember" asp-route-id="@Model.Team.Id" asp-route-participant="@member.Id" class="btn btn-primary mr-3">
                            @Localizer["Delete"]</a></td>
                    </tr>
                }
            </table>
            <div class="form-group mt-3">
                <input type="submit" value=@Localizer["Save"] class="btn btn-primary mr-3" />
                <button asp-action="Index" class="btn btn-primary">@Localizer["Back to List"]</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
